---
import Layout from '../layouts/Layout.astro';
import Planner from '../components/Planner.astro';
---

<Layout title="Motoshi Meets Shoko">
	<main>
		<h1>
			<a href="/dolls"><img src="/motoshi.svg" alt="Motoshi doll" height="64" /></a>
			Motoshi Meets Shoko
			<a href="/dolls"><img src="/shoko.svg" alt="Shoko doll" height="64" /></a>
		</h1>
		<Planner />
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: calc(1vw + 0vmin);
	}
	h1 {
		font-family: Literata, Georgia, 'Times New Roman', Times, serif;
		font-size: calc(1vw + 1vh + 3vmin);
		text-align: center;
		font-weight: 800;
		margin: 0;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	#day-planner-pages {
		list-style: none;
	}
</style>
